{% extends "layouts/base.html" %}

{% block content %}
<div class="leftContainer">
  <div class="leftContainer-text">
    <h1>Let's do this.</h1>
    <p>Think we could be a good fit? I'd love to hear more.</p>
    <a href="mailto:verhoeven.stijn@hotmail.com">verhoeven.stijn@hotmail.com</a>
    <p>Antwerp based</p>
  </div>
</div>

<div class="rightContainer">
  <h2>Who Am I.</h2>
  <section>
    A 25 year old hardworking, energetic and fast learning student @ Artesis Plantijn Hogeschool, with a  thorough background in Marketing Management & Strategic Business Management.
    Looking for a professional experience
    to master my practical
    skills in the graphic- and webdevelopment
    world. Striving for a
    synergy between my academic business
    background and my graphical
    capabilities.
  </section>

  <div class="menu">
   <a  class="showSingle" target="1">EDUCATION</a>
   <a  class="showSingle" target="2">EXPERIENCE</a>
   <a  class="showSingle" target="3">LANGUAGES</a>
   <a  class="showSingle" target="4">SOCIAL SKILLS</a>
   <a  class="showSingle" target="5">HARD SKILLS</a>
</div>

<section class="cnt">
   <div id="div1"  class="targetDiv">  <section>
       <ul>
         <li>Bachelor in Graphic Design & Digital Media<br><span>Artesis Plantijn University College Antwerp<br>
         2018 - Ongoing</span>
         </li>
       </ul>

       <ul>
         <li>
           Master in Marketing<br><span>Montpellier Business School<br>
         2017 - 2018</span>
         </li>
       </ul>
       <ul>
         <li>
           Master in Strategic Business Management<br><span>KU Leuven<br>
         2016 - 2017</span>
         </li>
       </ul>

       <ul>
         <li>
           Bachelor in Business Administration<br><span>KU Leuven<br>
         2013 - 2016</span>
         </li>
       </ul>
     </section></div>
   <div id="div2" class="targetDiv">
     <section>
       <ul>
         <li>Catering - Bartender<br><span>Hof Van Reyen<br>
         2011 - Ongoing</span>
         </li>
         <li>
           Digital marketing internship<br><span>Mediahuis NV<br>
         May 2018 - November 2018</span>
         </li>
         <li>
           Graphic Designer<br><span>Freelance at State of Art Belgium NV<br>
         July 2020 - Ongoing</span>
         </li>
       </ul></section>
     </div>
   <div id="div3" class="targetDiv">
     <ul>
       <li>
         Dutch: Native
       </li>
       <li>
         English: C1 - Professional
       </li>
       <li>
         French: B2 - Intermediate
       </li>
     </ul>
   </div>
   <div id="div4" class="targetDiv">
     <ul>
       <li>
         Social
       </li>
       <li>
         Result-oriented
       </li>
       <li>
         Honest
       </li>
       <li>
         Passionated
       </li>
       <li>
         Creative
       </li>
       <li>
         Problem-solving thinking
       </li>
     </ul>
   </div>
   <div id="div5" class="targetDiv">
     <ul>
       <li>
         <strong>Webdevelopment:</strong><br>
         HTML - CSS - JS - PHP BASICS - ELEVENTY
       </li>
       <li>
         <strong>Design-Tools:</strong><br>
         Indesign - Illustrator - Photoshop - After Effects - Premiere Pro - XD
       </li>
   </div>
</section>

</div>


{% endblock %}
