.landingpage{
height: 170vh;
margin-top: -70rem;
padding-top: 70rem;
margin-bottom: 5rem;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/hero-image.jpg);

  /* Set a specific height */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.intro{
	font-size: 2rem;
	color: white;
}

h2 {
    overflow: hidden;
		width: 20rem;
		margin-left: auto;
		margin-right: auto;
}

h2:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid white;
}

.headline{
	color: white;
	font-size: 5rem;
	text-align: center;
	margin-top: 2rem;
	line-height: 7rem;
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

h3{
	line-height: 7rem;
	color:#ff6500;
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 10rem;
}

.arrows path {
	stroke: #ff6500;
	fill: transparent;
	stroke-width: 3px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

h4{
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 5rem;
	color: black;
	margin-left: 2rem;
}

#object {
    position:	fixed;
    left: 1rem;
    bottom: 5%;
    height: 30px;
    width: 500px;
		font-size: 5rem;
		color: rgba(0,0,0,0.2);
		z-index: -10;
}

/* Slideshow container */
.slideshow-container {
	max-width: 700px;
	overflow:inherit;
  position: relative;
  margin: auto;
	margin-bottom: 45rem;
	background-color: white;
	position: sticky;
	bottom: 5rem;
	left: 0;
	z-index: -1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: 8rem;
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}

.prev {
	left: 0;
	bottom: -5.8rem;
	background-color: rgba(0,0,0,0.5);
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
	font-size: 2.5rem;
  position: absolute;
	max-width: 90%;
  bottom: -12rem;
  width: 100%;
  left: 3rem;
	font-weight: bold;
}

.text2 {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -31rem;
  width: 90%;
	line-height: 2.5rem;
  left: 3rem;
}

.link{
	color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -38rem;
  width: 70%;
	line-height: 2.5rem;
  left: 3rem;
}

.numbertext{
	font-size: 1.6rem;
	position: absolute;
	bottom: -3rem;
	width: 70%;
	line-height: 2.5rem;
	left: 11.5rem;
}
.linkArrow{
	animation: groei 1s;
	animation-fill-mode: forwards;
}
@keyframes groei {
	0% {left: 10rem;}
	100% {left: 11rem;}
}
strong{
	font-weight: bold;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




@keyframes come-in {
  to { transform: translateY(0); }
}
@media (min-width: 800px) {

    .landingpage{
    height: 120vh;
    margin-top: -30rem;
    padding-top: 20rem;
    margin-bottom: 5rem;
    }

		.headline{
			color: white;
			font-size: 6rem;
			text-align: center;
			margin-top: 2rem;
			line-height: 7rem;
			max-width: 70rem;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 2rem;
		}

		h2{
			margin-top: 10rem;
		}

		h3{
			line-height: 10rem;
			color:#ff6500;
			font-weight: bold;
			font-size: 8rem;
			text-align: center;
		}

		/* Slideshow container */
		.slideshow-container {
			max-width: 700px;
			overflow:inherit;
		  position: relative;
			margin-left: 5rem;
			margin-bottom: 20rem;
			background-color: white;
			position: sticky;
			bottom: 5rem;
			left: 0;
			z-index: -1;
		}

		/* Hide the images by default */
		.mySlides {
		  display: none;
		}

		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  width: 8rem;
		  padding: 2rem;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
		  left: 62rem;
			bottom: 0;
			background-color: rgba(0,0,0,0.5);
		}

		.prev {
			left: 0;
			bottom:0;
			background-color: rgba(0,0,0,0.5);
		}
		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}

		/* Caption text */
		.text {
		  color: black;
		  font-size: 15px;
		  padding: 8px 12px;
			font-size: 2.5rem;
		  position: absolute;
			max-width: 70vw;
		  bottom: 40rem;
		  width: 100%;
		  left: 72rem;
			font-weight: bold;
		}

		.text2 {
		  color: black;
		  font-size: 15px;
		  padding: 8px 12px;
		  position: absolute;
			bottom: 22rem;
		  width: 30vw;
		  left: 72rem;
			line-height: 2.5rem;
		}

		.link{
			color: black;
		  font-size: 15px;
		  padding: 8px 12px;
		  position: absolute;
			bottom: 18rem;
		  width: 100%;
		  left: 72rem;
			line-height: 2.5rem;
		}

		.numbertext{
			font-size: 1.6rem;
			position: absolute;
			bottom: 1rem;
			width: 70%;
			line-height: 2.5rem;
			left: 74rem;
		}

		.linkArrow{
			animation: groei 1s;
			animation-fill-mode: forwards;
		}
		@keyframes groei {
			0% {left: 10rem;}
			100% {left: 11rem;}
		}

		#object {
		    position:	fixed;
		    left: 100rem;
		    bottom: 5%;
		    height: 30px;
		    width: 1500px;
				font-size: 15rem;
				color: rgba(0,0,0,0.2);
				z-index: -10;
		}

		.arrows {
			width: 60px;
			height: 72px;
			position: absolute;
			left: 50%;
			margin-left: -30px;
			bottom: 20%;
		}
