body{
	font-family: hero-new, sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: black;
	overflow-x: hidden;
}


header{
	padding: 2rem;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 10rem;
	z-index: 2;
}

main{
	min-height: 100vh;
	max-width: 100vw;
	position: relative;
	z-index: 1;
	background-color: white;
}

.show{
	display: block;
}

.close{
	display: none;
}

.container{
	position: absolute;
	right: 5rem; top: 5rem;
}
.bar1, .bar2, .bar3 {
  width: 4rem;
	height: 0.5rem;
  background-color: white;
  margin: 0.8rem 0;
	margin-left: 2.5rem;
  transition: 0.4s;
}

.bar1{
	margin-top: 3.2rem;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

nav{
	padding: 2rem;
}

nav ul li a{
	color: white;
	font-size: 1.6rem;
	text-decoration: none;
	text-transform: uppercase;
}

header nav ul li a.selected {
		 border-bottom: 0.2rem solid #ff6500;
}

nav ul li{
	margin-top: 5rem;
}

.logo{
	width: 25rem;
	margin-top: 2rem;
}

.landingpage{
height: 170vh;
margin-top: -70rem;
padding-top: 70rem;
margin-bottom: 5rem;
}


.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/hero-image.jpg);

  /* Set a specific height */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.intro{
	font-size: 2rem;
	color: white;
}

h2 {
    overflow: hidden;
		width: 20rem;
		margin-left: auto;
		margin-right: auto;
}

h2:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid white;
}

.headline{
	color: white;
	font-size: 5rem;
	text-align: center;
	margin-top: 2rem;
	line-height: 7rem;
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

h3{
	line-height: 7rem;
	color:#ff6500;
	font-weight: bold;
	font-size: 5rem;
	text-align: center;
}

h4{
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 5rem;
	color: black;
	margin-left: 2rem;
}

/* Slideshow container */
.slideshow-container {
	max-width: 800px;
	overflow:inherit;
  position: relative;
  margin: auto;
	margin-bottom: 30rem;
	background-color: white;
	position: sticky;
	bottom: 5rem;
	left: 0;
	z-index: -1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: 8rem;
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}

.prev {
	left: 0;
	bottom: -5.8rem;
	background-color: rgba(0,0,0,0.5);
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -10rem;
  width: 100%;
  left: 10rem;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;

  background: #ff6500;
  display: grid;
  place-items: center;
  padding: 50px;
}

@media (min-width: 800px) {
	.close{
		display: flex;
	}

	.logo{
		width: 25rem;
		animation: groei;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}

 @keyframes groei {
 	0% { width: 25rem;}
	100% {width: 30rem;}
 }

 nav{
 	width: 80rem;
 }

 nav ul li a{
 	color: white;
 	margin-left: 7rem;
	text-transform: uppercase;
 }

 header nav ul li a.selected {
	 color: white;
	 border-bottom: 0.2rem solid #ff6500;
	 padding-bottom: 0.7rem;
 }

.border-animatie {
    display: inline-block;
    text-decoration: none;
}

.border-animatie::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff6500;
    transition: width .3s;
		margin-top: 1rem;
}

.border-animatie:hover::after {
    width: 30%;
		margin-top: 1rem;
}
	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40rem;
		margin-top: 0;
	}

	header nav ul li {
		margin-top: 0;
	}

	header nav {
		position: absolute;
		top: 8rem;
		right: 5rem;
	}

	header a{
		font-size: 2rem;
		text-decoration: none;
	}

	.container{
		display: none;
	}

	.headline{
		color: white;
		font-size: 6rem;
		text-align: center;
		margin-top: 2rem;
		line-height: 7rem;
		max-width: 70rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2rem;
	}

	h2{
		margin-top: 10rem;
	}

	h3{
		line-height: 10rem;
		color:#ff6500;
		font-weight: bold;
		font-size: 8rem;
		text-align: center;
	}

}
