main{
  height: 380vh;
}
.bar1, .bar2, .bar3 {
  width: 4rem;
	height: 0.5rem;
  background-color: white;
  margin: 0.8rem 0;
	margin-left: 2.5rem;
  transition: 0.4s;
}

.container{
	position: absolute;
	right: 3rem; top: 5.5rem;
}

nav ul li a {
  color: white;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  }


header nav ul li a.selected{
  color:white;
  }

.imgHolder{
  position: absolute;
  top: -26rem;
  background-image: url(/img/campus.jpg);
  background-size: cover;
  background-position: center;
  height:50rem;
  width: 100%;
  z-index: -1;
}

.imgHolder h1{
  font-size: 2rem;
  z-index: 1;
  max-width: 100vw;
  background-color:white;
  position: absolute;
  font-weight: bold;
  bottom: 0rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  padding-right: 10rem;
  padding-top: 3rem;
  width:80rem;
}
span:nth-child(1) a{
  position: absolute;
  bottom: 5rem;
  font-size: 2rem;
  color:white;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  text-decoration: none;
  right:0;
  width: 8rem;
}

span:nth-child(2) a{
  position: absolute;
  bottom: 0rem;
  font-size: 2rem;
  color:white;
  right: 0rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  text-decoration: none;
  width: 8rem;
}

.mainContainer{
  position: absolute;
  top: 25rem;
}


.mainContainer h2{
  font-size: 2rem;
  padding: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.mainContainer p{
  padding: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
}

.mainContainer a{
  color: black;
  padding: 2rem;
  font-size: 1.6rem;
  color: grey;
}

ul{
  padding-left: 2rem;
}

ul li{
  font-size: 1.6rem;
  line-height: 2rem;
}

main img{
  padding: 2rem;
  display: block;
  width: 100vw;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 20px #aaaaaa;
}

#iframe{
  width: 100vw;
  height: 70vh;
  padding: 2rem;
}

@media (min-width: 800px) {

  main{
    height: 300vh;
  }

  .imgHolder h1{
    font-size: 5rem;
    z-index: 10;
    background-color:white;
    position: absolute;
    font-weight: bold;
    width:70vw;
  }

  span:nth-child(1) a{
    position: absolute;
    left: auto;
    bottom: 0;
    font-size: 4rem;
    color:black;
    padding: 2rem;
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
    text-decoration: none;
    right:0;
    width: 12rem;
  }

  span:nth-child(2) a{
    position: absolute;
    bottom: 0;
    left: auto;
    font-size: 4rem;
    color:black;
    padding: 2rem;
    background-color: rgba(255,255,255,0.8);
    z-index: 2;
    text-decoration: none;
    right: 12rem;
    width: 12rem;
  }

  span a:hover{
    color:white;
    background-color: rgba(0,0,0,0.6);
  }
.containerWeb{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.vlak:nth-child(2){
  margin-top: 6rem;
}

.vlak:nth-child(4){
  margin-top: 6rem;
}

.vlak:nth-child(6){
  margin-top: 6rem;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 5rem;
}

p:nth-child(2){
  width: 70vw;
}

p{
  color: grey;
}
main img{
  display: block;
  width: 50%;
  margin-bottom: 2rem;
  margin-left:-2rem;
}
img:nth-child(3), img:nth-child(4){
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  margin-left:-2rem;
}
}
